.yellow{
        background-color: yellow;
}



#ex{
    display: inline;
    background-color: thistle;
}

a













/* body {
    margin: 0px;
} */

/* div {
    background-color: salmon;
} */

/* .salmon {
    height: 100px;
    background-color: salmon;
    margin: 5px;
}

#green {
    height: 40px;
    background-color: green;
    padding: 10px;
}


div {
    background-color: black;
}
span {
    font-size: large
}

a {
    display: block;
} */